/*Documento css*/

body{background-color: rgb(208, 231, 242);}


h1,h1{color:aquamarine;}

h2,3{color:red;
    font-size: 32px;
    line-height: 140px;
    text-decoration: underline;
    text-align: center: }

h3,h4{ color:rgb(174, 205, 194); }


h4,h5{ color:beige; }


h5,h6{ color:blueviolet; }

